@font-face {
	src: url("../fonts/Lato-Bold.woff") format("woff");
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Lato-Bold.woff2") format("woff2");
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Bold.woff") format("woff");
	font-family: "Noto-B";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Bold.woff2") format("woff2");
	font-family: "Noto-B";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Light.woff") format("woff");
	font-family: "Noto-L";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Light.woff2") format("woff2");
	font-family: "Noto-L";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Medium.woff") format("woff");
	font-family: "Noto-M";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Medium.woff2") format("woff2");
	font-family: "Noto-M";
	font-weight: 500;
	font-style: normal;
}
