@font-face {
	src: url("../fonts/LatoBold.woff") format("woff");
	font-family: "Lato";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Bold.woff") format("woff");
	font-family: "Noto";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Light.woff") format("woff");
	font-family: "Noto";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/NotoSansJP-Medium.woff") format("woff");
	font-family: "Noto";
	font-weight: 500;
	font-style: normal;
}
