$blue: #00d1ff;
$blue-text: #959fff;
$blue-icon: #2d4dbc;
$blue-tab: #6083ff;

$dark: #383838;
$gray: rgba(146, 146, 146, 0.6);
$gray-text: #929292;
$gray-bg: #e8e4e4;
$gray-border: #dddddd;
$gray-bg-menu: rgba(196, 196, 196, 0.24);
