.about {
	padding-top: 62px;
	min-height: 100%;
	background-image: url("../img/main2_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		position: relative;
		width: 487px;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 0.04em;
		color: #ffffff;
		margin: 0 auto 45px;
		&::before,
		&::after {
			position: absolute;
			content: "";
			display: inline-block;
			width: 68px;
			height: 1px;
			top: 60%;
			background: #c236a8;
		}
		&::before {
			left: -90px;
		}
		&::after {
			right: -90px;
		}
	}

	&__pay {
		display: flex;
		justify-content: space-around;
		margin-bottom: 45px;
	}

	&__pay-item {
		height: 300px;
	}

	&__pay-video {
		height: 100%;
		width: 555px;
		background-image: url("../img/preview.jpg");
		background-position: center;
		background-color: #555555;
		box-shadow: 10px 10px 0px rgba(255, 255, 255, 0.25);
	}

	&__pay-descr {
		height: 100%;
		width: 615px;
		text-align: center;
		color: #ffffff;
		padding: 25px 37px;
		background: linear-gradient(180deg, #94aafa 0%, #0e0b93 100%);
		box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.45);
		border-radius: 10px;
	}

	&__pay-img {
		width: 55px;
		height: 55px;
		margin: 0 auto;
		& img {
			display: block;
			width: 100%;
		}
	}

	&__pay-title {
		& h3 {
			font-family: "Noto-L", sans-serif;
			font-size: 20px;
			font-weight: 300;
			letter-spacing: 0.04em;
		}
	}

	&__pay-text {
		& p {
			font-family: "Noto-L", sans-serif;
			font-weight: 300;
			letter-spacing: 0.05em;
			line-height: 1.2;
		}
	}

	&__team {
		display: flex;
		justify-content: space-between;
		height: 190px;
		margin-bottom: 25px;
	}

	&__team-item {
		display: flex;
		width: 415px;
		height: 100%;
		padding: 25px;
		background: linear-gradient(180deg, #e288f0 0%, #7728fa 100%);
		box-shadow: 0px 0px 10px rgba(80, 80, 80, 0.45);
		border-radius: 10px;
	}

	&__team-img {
		width: 50px;
		height: 53px;
		margin-right: 15px;
		& img {
			display: block;
		}
	}

	&__team-descr {
		width: 100%;
		color: #ffffff;
	}

	&__team-title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 5px;
	}
}
