.bottom-text {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1280px;
	height: 35px;

	&__descr {
		display: flex;
		justify-content: space-between;
		width: 700px;
	}

	&__descr-item {
		display: flex;
	}

	&__descr-img {
		width: 27px;
		height: 27px;
		margin-right: 5px;
	}

	&__descr-name {
		position: relative;
		color: #ffffff;
		font-size: 18px;
	}

	&__descr--market {
		&::after {
			position: absolute;
			display: inline-block;
			content: "";
			width: 140px;
			height: 1px;
			background: linear-gradient(to right, #b71dff, #ff1a35);
			left: 0;
			top: 28px;
			z-index: 3;
		}
	}

	&__descr--profi {
		&::after {
			position: absolute;
			display: inline-block;
			content: "";
			width: 175px;
			height: 1px;
			background: linear-gradient(to right, #b71dff, #ff1a35);
			left: 0;
			top: 28px;
			z-index: 3;
		}
	}

	&__descr--garant {
		&::after {
			position: absolute;
			display: inline-block;
			content: "";
			width: 130px;
			height: 1px;
			background: linear-gradient(to right, #b71dff, #ff1a35);
			left: 0;
			top: 28px;
			z-index: 3;
		}
	}

	&__mail {
		display: flex;
		width: 430px;
	}

	&__mail-img {
		width: 30px;
		height: 30px;
	}

	&__mail-item {
		display: flex;
	}

	&__mail-name {
		color: #ffffff;
		margin-left: 10px;
	}
}

// * MEDIA ========================================

@media (max-width: 1281px) {
	.bottom-text {
		justify-content: center;
	}
	.bottom-text__mail {
		display: none;
	}
}

@media (max-width: 640px) {
	.bottom-text {
		&__descr {
			justify-content: space-around;
		}
		&__descr-name {
			margin-left: 10px;
		}
		&__descr-img {
			& img {
				width: 18px;
				height: 18px;
			}
		}
		&__descr--market {
			font-size: 14px;
			&::after {
				width: 90px;
			}
		}

		&__descr--profi {
			font-size: 14px;
			&::after {
				width: 140px;
			}
		}

		&__descr--garant {
			font-size: 14px;
			&::after {
				width: 100px;
			}
		}
	}
}
@media (max-width: 560px) {
	.bottom-text {
		margin: 100px auto 30px;

		&__descr-name {
			margin-left: 0;
		}
		&__descr--market {
			font-size: 12px;
			&::after {
				width: 90px;
				top: 20px;
			}
		}

		&__descr--profi {
			font-size: 12px;
			&::after {
				width: 140px;
				top: 20px;
			}
		}

		&__descr--garant {
			font-size: 12px;
			&::after {
				width: 100px;
				top: 20px;
			}
		}
	}
}
@media (max-width: 415px) {
	.bottom-text {
		margin: 200px auto 30px;

		&__descr-img {
			width: 16px;
			height: 16px;
			margin-right: 5px;
			& img {
				width: 16px;
				height: 16px;
			}
		}
		&__descr--market {
			font-size: 9px;
			&::after {
				width: 80px;
				top: 18px;
			}
		}

		&__descr--profi {
			font-size: 9px;
			&::after {
				width: 100px;
				top: 18px;
			}
		}

		&__descr--garant {
			font-size: 9px;
			&::after {
				width: 70px;
				top: 18px;
			}
		}
	}
}

@media (max-width: 370px) {
	.bottom-text {
		margin: 200px auto 30px;

		&__descr-img {
			width: 14px;
			height: 14px;
			margin-right: 3px;
			& img {
				width: 14px;
				height: 14px;
			}
		}
		&__descr--market {
			font-size: 8px;
			&::after {
				width: 60px;
				top: 16px;
			}
		}

		&__descr--profi {
			font-size: 8px;
			&::after {
				width: 80px;
				top: 16px;
			}
		}

		&__descr--garant {
			font-size: 8px;
			&::after {
				width: 50px;
				top: 16px;
			}
		}
	}
}
