.bot {
	padding-top: 60px;
	min-height: 100%;
	background-image: url("../img/bot_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		position: relative;
		width: 355px;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 0.04em;
		color: #ffffff;
		margin: 0 auto 10px;
		&::before,
		&::after {
			position: absolute;
			content: "";
			display: inline-block;
			width: 68px;
			height: 1px;
			top: 60%;
			background: #c236a8;
		}
		&::before {
			left: -90px;
		}
		&::after {
			right: -90px;
		}
	}
}

// * MEDIA ========================================

@media (max-width: 1367px) {
	.bot {
		padding-top: 40px;
		&__title {
			margin: 0 auto;
		}
	}
}
@media (max-width: 1120px) {
	.bot {
		padding-bottom: 40px;
		&__title {
			margin: 0 auto;
		}
		& .bottom-text {
			margin: 60px auto 25px;
		}
	}
}
@media (max-width: 940px) {
	.bot {
		& .bottom-text {
			margin: 100px auto 25px;
		}
	}
}
@media (max-width: 740px) {
	.bot {
		& .bottom-text {
			margin: 180px auto 25px;
		}
	}
}
@media (max-width: 600px) {
	.bot {
		&__title {
			width: 220px;
			margin: 20px auto;
			& h1 {
				font-size: 30px;
			}
		}
		& .bottom-text {
			margin: 250px auto 25px;
		}
	}
}
@media (max-width: 540px) {
	.bot {
		& .bottom-text {
			margin: 300px auto 25px;
		}
	}
}
@media (max-width: 540px) {
	.bot {
		& .bottom-text {
			margin: 300px auto 25px;
		}
	}
}
@media (max-width: 425px) {
	.bot {
		&__title {
			&::before,
			&::after {
				display: none;
			}
		}
	}
}
@media (max-width: 380px) {
	.bot {
		& .bottom-text {
			margin: 380px auto 25px;
		}
	}
}
