.faq {
	padding-top: 62px;
	min-height: 100%;
	background-image: url("../img/faq_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		position: relative;
		width: 145px;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 0.04em;
		color: #ffffff;
		margin: 0 auto 25px;
		&::before,
		&::after {
			position: absolute;
			content: "";
			display: inline-block;
			width: 68px;
			height: 1px;
			top: 60%;
			background: #c236a8;
		}
		&::before {
			left: -90px;
		}
		&::after {
			right: -90px;
		}
	}
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
	outline: none;
}
