.faq {
	padding-top: 62px;
	min-height: 100%;
	background-image: url("../img/faq_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		position: relative;
		width: 145px;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 0.04em;
		text-align: center;
		color: #ffffff;
		margin: 0 auto 25px;
		&::before,
		&::after {
			position: absolute;
			content: "";
			display: inline-block;
			width: 68px;
			height: 1px;
			top: 60%;
			background: #c236a8;
		}
		&::before {
			left: -90px;
		}
		&::after {
			right: -90px;
		}
	}
}

.faq__tabs {
	width: 100%;
	&-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-body {
		position: relative;
		width: 100%;
		height: 450px;
	}
}

.faq-tab__item {
	position: relative;
	width: 90px;
	height: 90px;
	display: flex;
	cursor: pointer;
	& img {
		display: block;
		width: 100%;
	}
	& span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		font-size: 18px;
	}
	&.active {
		width: 120px;
		height: 120px;
	}
}

.faq__tabs-body {
	position: relative;
	width: 100%;
}

.faq-tab__content {
	position: absolute;
	display: none;
	width: 100%;
	&.active {
		display: block;
	}
}

// * MEDIA ========================================

@media (max-width: 1367px) {
	.faq {
		padding-top: 40px;
	}
}

@media (max-width: 1150px) {
	.faq {
		padding: 40px 0 25px;
		& .bottom-text {
			margin: 25px auto;
		}
	}
}

@media (max-width: 840px) {
	.faq__tabs {
		&-items {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&-body {
			position: relative;
			width: 100%;
			height: 450px;
		}
	}

	.faq-tab__item {
		margin: 0px 10px 25px;
		&.active {
			margin: 0px 5px 15px;
		}
	}
}

@media (max-width: 667px) {
	.faq__tabs {
		&-body {
			height: 700px;
		}
	}
}

@media (max-width: 560px) {
	.faq {
		&__title {
			width: 100px;
			margin: 20px auto;
			& h1 {
				font-size: 30px;
			}
		}
	}

	.faq-tab__item {
		width: 70px;
		height: 70px;
		& span {
			font-size: 16px;
		}
		&.active {
			width: 100px;
			height: 100px;
		}
	}
}
