.footer {
	height: 360px;
	background: linear-gradient(101.62deg, #0d163d 2.55%, #1d1d39 97.25%);
	padding-top: 90px;

	&__wrap {
		display: flex;
		justify-content: start;
	}

	&__item {
		width: 270px;
		padding-right: 18px;
		margin-right: 70px;
	}

	&__item-title {
		padding: 0 0 18px 0;
		margin-bottom: 18px;
		border-bottom: 1px solid rgba(146, 146, 146, 0.5);
		& h2 {
			font-family: "Lato", sans-serif;
			font-size: 20px;
			color: #ffffff;
			line-height: 1.4;
		}
	}

	&__item-text {
		color: #ffffff;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 0.005em;
	}

	&__item-link {
		font-size: 18px;
		font-weight: 500;
		color: #ffffff;
		margin-bottom: 8px;
		transition: color 0.3s ease;

		&:hover {
			color: $blue;
		}
	}

	&__item-mail {
		font-size: 18px;
		font-weight: 500;
		color: #ffffff;
	}

	&__item-social {
		font-size: 20px;
		font-weight: 500;
		color: #ffffff;
	}
}

@media (max-width: 1080px) {
	.footer {
		&__wrap {
			justify-content: space-around;
		}
		&__item {
			margin-right: 0;
			&:nth-child(3),
			&:nth-child(4) {
				display: none;
			}
			&:nth-child(5) {
				display: block;
			}
		}
	}
}

@media (max-width: 640px) {
	.footer {
		height: auto;
		&__wrap {
			flex-wrap: wrap;
		}
		&__item {
			margin-bottom: 25px;
			&-text {
				font-size: 16px;
			}
			&-link {
				font-size: 16px;
			}
			& li {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 570px) {
	.footer {
		&__item {
			padding-right: 0;
			text-align: center;
			&-title {
				margin: 0 auto 15px;
				padding-bottom: 5px;
				& .logo {
					margin: 0 auto;
				}
			}
		}
	}
}

@media (max-width: 415px) {
	.footer {
		&__item {
			text-align: center;
			&-title {
				margin: 0 auto 15px;
				& .logo {
					margin: 0 auto;
				}
			}
			&-text {
				font-size: 14px;
			}
		}
	}
}
