.history {
	padding: 80px 10px 0px;

	&-desk {
		width: 100%;
		max-width: 1220px;
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
		border-radius: 10px;
		margin: 0 auto;
		padding: 40px 5px;

		&__title h2 {
			width: 100%;
			font-size: 30px;
			font-weight: 500;
			text-align: center;
			margin-bottom: 20px;
		}

		&__depo {
			display: flex;
			justify-content: center;
			width: 100%;
			max-width: 1050px;
			margin: 0 auto 45px;
			border-bottom: 1px solid $gray;

			&-list {
				display: none;
			}

			&-item {
				width: 100%;
				display: flex;
			}

			&-suptitle {
				background: linear-gradient(180.11deg, #d03ba6 0.47%, #831fb1 99.53%);
				padding: 9px 20px;
				border-left: 1px solid #ffffff;

				& h3 {
					font-size: 12px;
					font-weight: 500;
					color: #fff;
				}
			}

			&-tab {
				text-align: center;
				width: 100%;

				&.depo-tab1 {
					& .history-desk__depo-suptitle {
						border-left: none;
					}
				}

				&.depo-tab4 {
					min-width: 185px;
				}

				&.depo-tab6 {
					& .history-desk__depo-text {
						border-right: 1px solid $gray;
					}
				}
			}

			&-text {
				font-size: 12px;
				font-weight: 500;
				padding: 9px 20px;
				border-left: 1px solid $gray;
			}
		}

		// * Personal-event ====================================

		&__personal-list {
			display: none;
		}

		&__personal-event {
			display: flex;
			width: 100%;
			max-width: 548px;
			margin: 0 auto 45px;
			border-bottom: 1px solid $gray;
		}

		&__personal-tab {
			text-align: center;
			width: 100%;

			&.personal-tab1 {
				max-width: 163px;
				& .history-desk__personal-suptitle {
					border-left: none;
				}
			}

			&.personal-tab2 {
				max-width: 210px;
			}

			&.personal-tab3 {
				max-width: 175px;
				& .history-desk__personal-text {
					border-right: 1px solid $gray;
				}
			}
		}

		&__personal-suptitle {
			background: linear-gradient(180.11deg, #d03ba6 0.47%, #831fb1 99.53%);
			padding: 9px 20px;
			border-left: 1px solid #ffffff;

			& h3 {
				font-size: 12px;
				font-weight: 500;
				color: #fff;
			}
		}

		&__personal-text {
			font-size: 12px;
			font-weight: 500;
			padding: 9px 20px;
			border-left: 1px solid $gray;
		}
	}
}

// * MEDIA =========================================

@media (max-width: 960px) {
	.history-desk {
		&__depo {
			flex-wrap: wrap;
			border-bottom: none;
			&-item {
				max-width: 550px;
				margin-bottom: 20px;
				border-bottom: 1px solid $gray;
			}
			&-tab {
				&.depo-tab3 {
					& .history-desk__depo-text {
						border-right: 1px solid $gray;
					}
				}
				&.depo-tab4 {
					& .history-desk__depo-suptitle {
						border-left: 1px solid $gray;
					}
				}
			}
		}
	}
}

@media (max-width: 495px) {
	.history {
		padding: 45px 10px 0px;
		&-desk {
			padding: 40px 50px;
			&__depo,
			&__personal-event {
				display: none;
			}
		}
		&-desk__depo-list,
		&-desk__personal-list {
			display: block;
			width: 100%;
			max-width: 350px;
			margin: 0 auto 20px;

			&-title {
				background: linear-gradient(180.11deg, #d03ba6 0.47%, #831fb1 99.53%);
				color: #ffffff;
				font-size: 14px;
				text-align: center;
				padding: 12px 20px;
			}

			&-items {
				border: 1px solid $gray;
				border-top: none;
				padding: 15px 20px 0;
				text-align: center;
			}
			&-item {
				margin-bottom: 20px;
				& p {
					width: 100%;
					max-width: 120px;
					margin: 0 auto;
					font-size: 14px;
					color: $gray-text;
				}
				& span {
					font-size: 16px;
					color: $dark;
				}
			}
		}
	}
}

@media (max-width: 410px) {
	.history-desk {
		&__title {
			& h2 {
				font-size: 20px;
			}
		}
		&__depo-list,
		&__personal-list {
			&-title {
				& h3 {
					font-size: 14px;
				}
			}
		}
	}
}
