.room {
	display: flex;
}

.room-bg {
	width: 100%;
	max-width: 710px;
	height: 100vh;
	background-image: url("../img/room_bg.jpg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 100px;
}

.logo-room {
	margin: 0 auto;
	width: 100%;
	max-width: 350px;

	& .logo__img {
		width: 75px;
		height: 67px;
	}

	& .logo__text {
		font-size: 50px;
	}

	& .io {
		width: 62px;
		height: 54px;
		font-size: 50px;
	}
}

.room-form {
	padding: 170px 0 0 105px;

	&__wrap {
		display: flex;
		flex-direction: column;
		width: 540px;
	}

	&__title {
		font-size: 38px;
		font-weight: 700;
		margin-bottom: 65px;
	}

	&__data {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__input {
		width: 100%;
		height: 38px;
		margin-bottom: 50px;
		padding-left: 18px;
		color: $dark;
		font-size: 18px;
		font-weight: 500;
		background: transparent;
		border: none;
		border-bottom: 1px solid rgba(137, 132, 132, 0.51);
		&::placeholder {
			font-size: 16px;
			color: rgba(146, 146, 146, 0.6);
		}
	}

	&__buttons {
		display: flex;
		margin-bottom: 40px;
	}

	&__btn {
		width: 220px;
		height: 60px;
		font-size: 18px;
		color: #ffffff;
		outline: transparent;
		border: transparent;
		background: linear-gradient(146.94deg, #4ba5bb 9.08%, #302e9f 93.38%);
		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 45px;
		cursor: pointer;
		transition: 0.3s ease;

		& svg {
			width: 20px;
			height: 20px;
			fill: #ffffff;
			margin-right: 10px;
			transition: 0.3s ease;
		}

		&:hover {
			color: $blue;
			& svg {
				fill: $blue;
			}
		}
	}

	&__btn-reg {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 270px;
		height: 60px;
		color: $blue-icon;
		font-size: 18px;
		background-color: #ffffff;

		box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
		border: 3px solid;
		border-image-slice: linear-gradient(to left, #4ba5bb, #302e9f);
		border-radius: 50px;

		& svg {
			width: 24px;
			height: 27px;
			fill: $blue-icon;
			margin-right: 10px;
		}
	}

	&__help {
		text-align: center;
	}

	&__pass {
		color: $gray;
		margin-bottom: 15px;
		letter-spacing: 1px;
		& a {
			color: $gray;
			&:hover {
				color: $dark;
			}
		}
	}

	&__help-acc {
		color: $gray;
		margin-bottom: 20px;
		letter-spacing: 1px;
		& a {
			color: $gray;
			&:hover {
				color: $dark;
			}
		}
	}

	&__help-home {
		& a {
			color: $dark;
			&:hover {
				color: $gray;
			}
		}
	}
}
