.invest {
	width: 100%;
	height: 900px;

	&__main {
		position: relative;
	}

	&__descr {
		color: #ffffff;
		margin: 170px 0 40px;
	}

	&__suptitle {
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.12em;
		margin-bottom: 20px;
	}

	&__title {
		width: 100%;
		max-width: 700px;
		font-weight: bold;
		font-size: 50px;
		letter-spacing: 0.005em;
		margin-bottom: 26px;
	}

	&__text {
		width: 100%;
		max-width: 525px;
		font-weight: 500;
		font-size: 16px;
		line-height: 126.5%;
	}

	&__buttons {
		display: flex;
		margin-bottom: 130px;
	}
}

.social__img-header {
	display: none;
}

.social__img {
	&-tlg {
		position: absolute;
		top: -55px;
		right: 3px;
		width: 31px;
		height: 31px;
		fill: #fff;
	}
	&-vk {
		position: absolute;
		top: -100px;
		right: 3px;
		width: 31px;
		height: 31px;
		fill: #fff;
	}
}

// * MEDIA ========================================

@media (max-width: 1281px) {
	.invest {
		&__suptitle {
			text-align: center;
		}
		&__title {
			margin: 0 auto 30px;
			text-align: center;
		}
		&__text {
			margin: 0 auto;
			text-align: center;
		}
		&__buttons {
			justify-content: center;
			margin: 0 auto 100px;
		}
	}
}

@media (max-width: 1080px) {
	.social__img.abs {
		display: none;
	}
	.social__img-header {
		display: flex;
		justify-content: space-between;
		width: 80px;
		position: relative;

		& .social__img {
			display: block;
			&-tlg {
				position: relative;
				top: 0;
				right: 0;
				width: 31px;
				height: 31px;
				fill: #fff;
			}
			&-vk {
				position: relative;
				top: 0;
				right: 0;
				width: 31px;
				height: 31px;
				fill: #fff;
			}
		}
	}
}

@media (max-width: 640px) {
	.invest {
		&__title {
			font-size: 45px;
		}
	}
	.social__img-header {
		display: none;
	}
}

@media (max-width: 560px) {
	.invest {
		height: auto;
		background-image: url(../img/main_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding-bottom: 30px;
		&__descr {
			margin: 70px auto 40px;
		}
		&__suptitle {
			font-size: 14px;
		}
		&__title {
			font-size: 35px;
			line-height: 1;
		}
		&__text {
			font-size: 14px;
		}
	}
}
@media (max-width: 415px) {
	.invest {
		&__descr {
			margin: 100px auto 50px;
		}
		&__suptitle {
			font-size: 13px;
		}
		&__title {
			font-size: 30px;
			line-height: 1;
		}
		&__text {
			font-size: 14px;
		}
	}
}
