.menu {
	margin-right: 10px;
	display: flex;
	align-items: center;

	&__link {
		display: flex;
		align-items: center;
		margin-right: 20px;
		color: #ffffff;
		font-family: "Noto-M", sans-serif;
		font-size: 16px;
		font-weight: 500;
		transition: color 0.4s ease;
		& span {
			display: block;
			margin-left: 5px;
		}
		&:hover {
			span {
				color: $blue;
			}
			.menu__link-img {
				fill: $blue;
			}
		}
	}

	&__link-img {
		width: 20px;
		height: 21px;
		fill: #fff;
	}
}

@media (max-width: 1080px) {
	.menu {
		display: none;
	}
}
