.personal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90px;
	padding: 0 15px;
	background: linear-gradient(171.26deg, #413eff 16.71%, #da0e88 83.63%);

	&__name {
		display: flex;
		align-items: center;
		&:hover {
			cursor: pointer;
			& .personal-header__name-text {
				color: $blue;
			}
		}
		& .name-menu {
			display: none;
			position: absolute;
			top: 95px;
			right: 15px;
			width: 170px;
			margin: 0;
			background-color: #fff;
			border: 1px solid $gray-border;

			&__link {
				width: 100%;
				padding: 8px 30px;
				&:hover {
					background-color: $gray-bg-menu;
				}

				& a {
					display: flex;
					align-items: center;
					font-size: 16px;
					color: $dark;
				}

				& img {
					margin-right: 7px;
				}
			}
			&.active {
				display: block;
				z-index: 5;
			}
		}
	}

	&__name-img {
		width: 30px;
		height: 30px;
	}

	&__name-text {
		position: relative;
		width: 170px;
		color: #ffffff;
		line-height: 1;
		margin-left: 10px;
		transition: 0.3s ease;
	}
}

// * Body page ==============================================

.personal {
	&-wrap {
		position: relative;
		display: flex;
		width: 100%;
		min-height: 100%;
		background: $gray-bg;
		background-size: cover;
	}

	&__menu {
		width: 100%;
		max-width: 230px;
		height: 100%;
		background: #ffffff;
		padding-right: 3px;
		padding-bottom: 50%;
		display: flex;
		flex-direction: column;
		transition: 0.4s;
	}

	&__menu-header {
		display: none;
	}

	&__menu-items {
		margin-top: 41px;
	}

	&__menu-item {
		width: 100%;
		max-width: 252px;
		height: 35px;
		padding-left: 15px;
		display: flex;
		align-items: center;
		& svg {
			width: 17px;
			height: 17px;
			fill: $dark;
		}
		&.active {
			background: $gray-bg-menu;
			border-left: 2px solid $blue-icon;
		}
	}

	&__menu-link {
		margin-left: 5px;
		color: $dark;
		font-size: 15px;
		font-weight: 500;
	}

	&-main {
		position: relative;
		width: 100%;
		height: 100%;
		background: $gray-bg;
		background-size: cover;
		padding: 40px 20px 20px 15px;

		&__row {
			width: 100%;
			max-width: 1270px;
			display: flex;
			justify-content: space-between;
			margin: 0 auto 15px;
		}

		&__card {
			width: 100%;
			min-height: 135px;
			border-radius: 10px;
			background: #ffffff;
			margin-right: 15px;
			padding: 24px 30px;
			&:nth-child(3) {
				margin-right: 0;
			}
		}

		&__card-title {
			font-size: 18px;
			font-weight: 500;
			color: $dark;
			margin-bottom: 10px;
		}

		&__card-item {
			display: flex;
			align-items: flex-end;
			font-family: "Noto-L", sans-serif;
			font-size: 30px;
			font-weight: 300;
			& span {
				font-size: 30px;
				font-weight: 500;
				margin: 0 10px 0 15px;
			}
		}

		&__desk {
			width: 100%;
			max-width: 1270px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-radius: 10px;
			background: #ffffff;
			padding: 20px;
			margin: 0 auto;
		}

		&__desk-title {
			font-weight: 500;
			color: #929292;
			margin-bottom: 15px;
		}

		&__desk-row {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
			&-item {
				width: 100%;
				display: flex;
			}
		}

		&__desk-card {
			width: 100%;
			max-width: 300px;
			min-height: 235px;
			background: #ffffff;
			box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
			border-radius: 10px;
			margin: 0 5px;
			padding: 10px 5px 5px 15px;

			& img {
				display: block;
				margin: 0 auto;
			}
		}

		&__desk-card-title {
			text-align: center;
			font-weight: 500;
		}

		&__desk-card-list {
			margin-top: 5px;
			& div {
				position: relative;
				padding-left: 14px;
				font-size: 13px;
				color: $gray-text;

				&::before {
					position: absolute;
					content: "";
					display: block;
					width: 10px;
					height: 1px;
					background: $blue-icon;
					top: 12px;
					left: 0;
				}
			}

			& p {
				position: relative;
				width: 100%;
				max-width: 220px;
				font-size: 12px;
				line-height: 14px;
				color: $blue-text;
				padding-left: 15px;
				margin-top: 5px;
				&::before {
					position: absolute;
					content: "";
					display: block;
					width: 14px;
					height: 15px;
					background: url("../img/star.svg");
					top: 10px;
					left: -5px;
				}
			}
		}

		&__wallet {
			width: 100%;
			max-width: 830px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			position: relative;
			&::before,
			&::after {
				position: absolute;
				content: "";
				display: block;
				width: 100%;
				max-width: 65px;
				height: 1px;
				background: $blue-icon;
				top: 50%;
			}
			&::before {
				left: -110px;
			}
			&::after {
				right: -110px;
			}

			// * Wallet-depo ================================

			&-depo {
				width: 100%;
				max-width: 470px;
				min-height: 235px;
				background: #ffffff;
				box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
				border-radius: 10px;
				margin-right: 15px;
				padding: 15px 22px 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;

				&-title {
					font-size: 18px;
					color: $gray-text;
					font-weight: 500;
				}

				&-type {
					width: 100%;
					max-width: 320px;
					height: 60px;
					border-radius: 10px;
					background: $gray-bg-menu;
					padding: 10px 0 0 30px;
					font-size: 14px;
					color: $dark;
				}

				&-input {
					background: transparent;
					border: none;
					color: $dark;
					font-size: 18px;
					&::placeholder {
						font-size: 18px;
						color: $dark;
					}
				}
			}
		}

		// * Wallet-pay ==============================

		&__wallet-pay {
			width: 100%;
			max-width: 340px;
			min-height: 185px;
			background: #ffffff;
			box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
			border-radius: 10px;
			padding: 15px 40px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			&-title {
				position: relative;
				width: 150px;
				font-size: 18px;
				color: $gray-text;
				font-weight: 500;
				text-align: center;
				&::after {
					position: absolute;
					content: "";
					display: block;
					width: 85px;
					height: 1px;
					background: $gray;
					left: 50%;
					transform: translateX(-50%);
					bottom: -10px;
				}
			}
		}
	}
}

// * MEDIA =============================================

@media (max-width: 1347px) {
	.personal-main__wallet::before,
	.personal-main__wallet::after {
		display: none;
	}
}

@media (max-width: 1275px) {
	.personal {
		&__menu {
			position: absolute;
			transform: translateX(-100%);
			&.active {
				transform: translateX(0px);
				z-index: 2;
			}
			&-burger {
				position: absolute;
				width: 40px;
				height: 40px;
				margin: 6px 0 0 10px;
				&.menu-burger {
					display: block;
					z-index: 3;
					& span {
						background: $blue-icon;
					}
				}
			}
		}
	}
}

@media (max-width: 950px) {
	.personal-main {
		&__desk {
			&-title {
				text-align: center;
			}
			&-row {
				flex-wrap: wrap;
				&-item {
					width: 100%;
					justify-content: space-around;
				}
			}
			&-card {
				margin: 0 auto 20px;
			}
		}
	}
}

@media (max-width: 865px) {
	.personal-main {
		&__card {
			&-title {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 800px) {
	.personal-main {
		&__row {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__card {
			max-width: 300px;
			margin: 0 0 20px;
			&-title {
				font-size: 16px;
			}
		}
		&__desk-card {
			margin: 0 10px 20px;
		}
	}
}

@media (max-width: 745px) {
	.personal-main {
		&__desk {
			&-row-item {
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		&__wallet {
			flex-wrap: wrap;
			justify-content: center;
			&-depo {
				margin: 0 0 20px;
			}
		}
	}
}

@media (max-width: 465px) {
	.personal {
		&-header {
			justify-content: flex-end;
			&__logo {
				margin-right: 22%;
			}
			&__name-text {
				display: none;
			}
		}

		&__menu {
			max-width: 100%;
			&-items {
				margin-top: 5px;
			}
			&-item {
				max-width: 100%;
				&:hover {
					background: $gray-bg;
					border-left: 2px solid $blue-icon;
				}
			}

			&.active {
				position: absolute;
				top: -90px;
				z-index: 10;
				& .personal__menu-header {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					height: 90px;
					background: linear-gradient(154.84deg, #4ba5bb 9.08%, #302e9f 93.38%);
					&-close {
						cursor: pointer;
						margin-right: 20px;
					}
				}
			}
		}

		&__menu-burger {
			top: -65px;
			&.menu-burger {
				display: block;
				z-index: 3;
				& span {
					background: #fff;
				}
			}
		}

		&-main {
			&__wallet {
				&-depo {
					min-height: 250px;
					&-title {
						font-size: 16px;
						margin-bottom: 10px;
					}
					& span {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media (max-width: 365px) {
	.personal {
		&-header {
			&__logo {
				margin-right: 15%;
			}
		}
		&-main {
			&__wallet {
				&-pay {
					padding: 15px 25px 30px;
				}
			}
		}
	}
}

@media (max-width: 345px) {
	.personal {
		&-main {
			&__desk {
				&-card {
					padding: 10px;
				}
			}
			&__wallet {
				&-depo {
					& span {
						font-size: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 325px) {
	.personal {
		&-header {
			&__logo {
				margin-right: 13%;
			}
		}
	}
}
