.personal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90px;
	padding: 0 15px;
	background: linear-gradient(171.26deg, #413eff 16.71%, #da0e88 83.63%);

	&__name {
		display: flex;
		align-items: center;
	}

	&__name-img {
		width: 30px;
		height: 30px;
	}

	&__name-text {
		color: #ffffff;
		line-height: 1;
		margin-left: 10px;
	}
}

.personal {
	&-wrap {
		display: flex;
		width: 100%;
		height: 100%;
		background: $gray-bg;
	}

	&__menu {
		width: 255px;
		height: auto;
		background: #ffffff;
		padding-right: 3px;
	}

	&__menu-items {
		margin-top: 41px;
	}

	&__menu-item {
		width: 252px;
		height: 35px;
		padding-left: 15px;
		display: flex;
		align-items: center;
		& svg {
			width: 17px;
			height: 17px;
			fill: $dark;
		}
		&.active {
			background: $gray-bg-menu;
			border-left: 2px solid $blue-icon;
		}
	}

	&__menu-link {
		margin-left: 5px;
		color: $dark;
		font-weight: 500;
	}

	//

	&-main {
		width: 100%;
		height: calc(100vh - 90px);
		padding: 40px 70px 20px 15px;

		&__row {
			width: 100%;
			max-width: 1270px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
		}

		&__card {
			width: 100%;
			height: 135px;
			border-radius: 10px;
			background: #ffffff;
			margin-right: 15px;
			padding: 24px 30px;
			&:nth-child(3) {
				margin-right: 0;
			}
		}

		&__card-title {
			font-size: 18px;
			font-weight: 500;
			color: $dark;
			margin-bottom: 10px;
		}

		&__card-item {
			display: flex;
			align-items: flex-end;
			font-family: "Noto-L", sans-serif;
			font-size: 30px;
			font-weight: 300;
			& span {
				font-size: 30px;
				font-weight: 500;
				margin: 0 10px 0 15px;
			}
		}

		&__desk {
			width: 100%;
			max-width: 1270px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-radius: 10px;
			background: #ffffff;
			padding: 20px 30px 20px 20px;
		}

		&__desk-title {
			font-weight: 500;
			color: #929292;
			margin-bottom: 15px;
		}

		&__desk-row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
		}

		&__desk-card {
			width: 100%;
			height: 235px;
			background: #ffffff;
			box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
			border-radius: 10px;
			margin-right: 10px;
			padding: 10px 0 0 15px;
			&:nth-child(4) {
				margin-right: 0;
			}
			& img {
				display: block;
				margin: 0 auto;
			}
		}

		&__desk-card-title {
			text-align: center;
			font-weight: 500;
		}

		&__desk-card-list {
			margin-top: 5px;
			& div {
				position: relative;
				padding-left: 14px;
				font-size: 15px;
				color: $gray-text;

				&::before {
					position: absolute;
					content: "";
					display: block;
					width: 10px;
					height: 1px;
					background: $blue-icon;
					top: 12px;
					left: 0;
				}
			}

			& p {
				position: relative;
				width: 220px;
				font-size: 12px;
				line-height: 14px;
				color: $blue-text;
				padding-left: 15px;
				&::before {
					position: absolute;
					content: "";
					display: block;
					width: 14px;
					height: 15px;
					background: url("../img/star.svg");
					top: 10px;
					left: -5px;
				}
			}
		}

		&__wallet {
			display: flex;
			align-items: center;
			margin: 0 auto;
			position: relative;
			&::before,
			&::after {
				position: absolute;
				content: "";
				display: block;
				width: 95px;
				height: 1px;
				background: $blue-icon;
				top: 50%;
			}
			&::before {
				left: -120px;
			}
			&::after {
				right: -120px;
			}

			// * Wallet-depo ================================

			&-depo {
				width: 470px;
				height: 235px;
				background: #ffffff;
				box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
				border-radius: 10px;
				margin-right: 15px;
				padding: 15px 22px 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;

				&-title {
					font-size: 18px;
					color: $gray-text;
					font-weight: 500;
				}

				&-type {
					width: 320px;
					height: 60px;
					border-radius: 10px;
					background: $gray-bg-menu;
					padding: 10px 0 0 30px;
					font-size: 14px;
					color: $dark;
				}

				&-input {
					background: transparent;
					border: none;
					color: $dark;
					font-size: 18px;
					&::placeholder {
						font-size: 18px;
						color: $dark;
					}
				}

				&-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					max-width: 420px;
					height: 50px;
					border-radius: 50px;
					border: transparent;
					font-size: 18px;
					background: linear-gradient(180.06deg, #d03ba6 0.47%, #831fb1 99.53%);
					cursor: pointer;

					& svg {
						width: 29px;
						height: 29px;
						fill: #fff;
						margin-right: 10px;
					}
				}
			}
		}

		// * Wallet-pay ==============================

		&__wallet-pay {
			width: 340px;
			height: 185px;
			background: #ffffff;
			box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
			border-radius: 10px;
			padding: 15px 22px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			&-title {
				position: relative;
				width: 150px;
				font-size: 18px;
				color: $gray-text;
				font-weight: 500;
				text-align: center;
				&::after {
					position: absolute;
					content: "";
					display: block;
					width: 85px;
					height: 1px;
					background: $gray;
					left: 50%;
					transform: translateX(-50%);
					bottom: -10px;
				}
			}

			&-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				max-width: 260px;
				height: 50px;
				background: linear-gradient(180deg, #dac933 0%, #d31414 100%);
				border-radius: 50px;
				border: transparent;
				font-size: 18px;
				cursor: pointer;

				& svg {
					width: 20px;
					height: 20px;
					fill: #ffffff;
					margin-right: 10px;
				}
			}
		}
	}
}
