.program {
	padding: 40px 10px 1px 10px;
	height: 100%;
	background-color: $gray-bg;
	background-size: cover;
}

.program-desk {
	position: relative;
	width: 100%;
	max-width: 1250px;
	min-height: 695px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
	border-radius: 10px;
	margin: 0 auto 20px;
	padding: 30px 20px 40px 20px;

	&__title h2 {
		font-size: 30px;
		font-weight: 500;
		color: $gray;
		text-align: center;
		margin-bottom: 20px;
	}
}

// * Tabs =================================================

.tabs {
	width: 100%;
	position: relative;
}
.tabs-triggers {
	display: flex;
}
.tabs-triggers__item {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 290px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: $dark;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
	border-radius: 10px 10px 0px 0px;
}
.tabs-content {
	position: relative;
}

.tabs-content__item {
	display: none;
	position: absolute;
	width: 100%;
	min-height: 520px;
	top: 0;
	left: 0;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
	border-radius: 0px 10px 10px 10px;
	padding: 0 10px;
}

.tabs-content__item--active {
	display: block;
}
.tabs-triggers__item--active {
	background: $blue-tab;
	color: #fff;
}

// * Tabs content 1 (info) ========================
// * ==============================================

.tabs-content__container {
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	padding: 45px 0 0 0;
}

.tabs-info__row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 45px;
}

.tabs-info__partner {
	display: flex;
}

.tabs-info__partner-avatar {
	display: block;
	width: 105px;
	height: 105px;
	border-radius: 50%;
	margin-right: 25px;
}

.tabs-info__partner-data {
	width: 420px;
}

.tabs-info__partner-link,
.tabs-info__partner-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& span {
		color: $gray;
	}
}

.partner-link,
.partner-name {
	width: 240px;
	height: 40px;
	background: transparent;
	border: 1px solid $gray;
	margin-top: 10px;
	padding-left: 15px;
	color: $dark;
}

// * Info cards ====================================

.tabs-info__card {
	width: 250px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(149, 149, 149, 0.51);

	&-item {
		display: flex;
		justify-content: center;
		align-items: center;

		& img {
			width: 33px;
			height: 33px;
			margin-right: 8px;
		}
		& p {
			font-size: 16px;
			color: $dark;
		}
	}

	&-bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		& img {
			width: 33px;
			height: 33px;
		}
		& p {
			font-size: 16px;
			color: $dark;
		}
	}
}

.tabs-info__row-bottom {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.tabs-info__card-bottom {
	width: 285px;
	height: 115px;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(149, 149, 149, 0.51);
}

// * Tabs content 2 (table №1) ===========================
// * =====================================================

.table-1 {
	width: 100%;
	max-width: 1050px;
	margin: 35px auto 0;

	&__title-row {
		display: flex;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
	}

	&__title-item-num,
	&__title-item-deep,
	&__title-item-percent {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: linear-gradient(170.92deg, #4ba5bb 9.08%, #302e9f 93.38%);
		padding: 2px 30px;
	}

	&__title-item-num {
		max-width: 155px;
	}

	&__title-item-deep {
		max-width: 480px;
	}

	&__title-item-percent {
		max-width: 415px;
	}

	&__row {
		display: flex;
		border-bottom: 1px solid $gray;
	}

	&__item-num,
	&__item-deep,
	&__item-percent {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 7px 30px;
		font-size: 12px;
		color: $dark;
		border-left: 1px solid $gray;
	}

	&__item-num {
		max-width: 155px;
	}

	&__item-deep {
		max-width: 480px;
	}

	&__item-percent {
		max-width: 415px;
	}
}

// * Tabs content 3 (table №2) ===========================
// * =====================================================

.table-2 {
	width: 100%;
	max-width: 1050px;
	margin: 35px auto 0;

	&__title-row {
		display: flex;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
	}

	&__title-item-num,
	&__title-item-invest,
	&__title-item-size,
	&__title-item-size-all,
	&__title-item-reward {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: linear-gradient(170.92deg, #4ba5bb 9.08%, #302e9f 93.38%);
		padding: 2px 20px;
	}

	&__title-item-num {
		max-width: 155px;
	}

	&__title-item-invest {
		max-width: 245px;
	}

	&__title-item-size {
		max-width: 220px;
	}

	&__title-item-size-all {
		max-width: 275px;
	}

	&__title-item-reward {
		max-width: 255px;
	}

	&__row {
		display: flex;
		border-bottom: 1px solid $gray;
	}

	&__item-num,
	&__item-invest,
	&__item-size,
	&__item-size-all,
	&__item-reward {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 7px 30px;
		font-size: 12px;
		color: $dark;
		border-left: 1px solid $gray;
	}

	&__item-num {
		max-width: 155px;
	}

	&__item-invest {
		max-width: 245px;
	}

	&__item-size {
		max-width: 220px;
	}

	&__item-size-all {
		max-width: 275px;
	}

	&__item-reward {
		max-width: 255px;
	}
}
