.recovery {
	width: 100%;
	min-height: 100%;
	background-image: url("../img/room_bg.jpg");
	background-repeat: no-repeat;
	background-size: 45% 100%;

	& .container {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	&__bg {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 400px;
		padding: 100px 0 200px 0;
		&-img {
			width: 100%;
			margin-bottom: 25px;
			& img {
				width: 100%;
				object-fit: contain;
			}
		}
	}
}

.logo-room {
	margin: 0 auto;
	width: 100%;
	max-width: 350px;

	& .logo__img {
		width: 75px;
		height: 67px;
		& img {
			width: 100%;
			object-fit: contain;
		}
	}

	& .logo__text {
		font-size: 50px;
	}

	& .io {
		width: 62px;
		height: 54px;
		font-size: 50px;
	}
}

.recovery-form {
	width: 100%;
	max-width: 700px;
	padding: 170px 80px 0 90px;

	&__wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 540px;
	}

	&__title {
		width: 100%;
		font-size: 38px;
		font-weight: 700;
		margin-bottom: 65px;
	}

	&__data {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__input {
		width: 100%;
		height: 38px;
		margin-bottom: 40px;
		padding-left: 18px;
		color: $dark;
		font-size: 18px;
		font-weight: 500;
		background: transparent;
		border: none;
		border-bottom: 1px solid rgba(137, 132, 132, 0.51);
		&::placeholder {
			font-size: 16px;
			color: rgba(146, 146, 146, 0.6);
		}
	}

	&__help {
		text-align: center;
	}

	&__help-acc {
		color: $gray;
		margin-bottom: 20px;
		letter-spacing: 1px;
		& a {
			color: $gray;
			transition: 0.3s ease;
			&:hover {
				color: $dark;
			}
		}
	}

	&__help-home {
		& svg {
			width: 19px;
			height: 8px;
			fill: $dark;
			margin-right: 5px;
		}
		& a {
			color: $dark;
			transition: 0.3s ease;
		}
		&:hover {
			& svg {
				fill: $gray;
			}
			& a {
				color: $gray;
			}
		}
	}
}

// * MEDIA ===========================================
@media (max-width: 1366px) {
	.recovery__bg {
		margin-left: 3%;
	}
}

@media (max-width: 1165px) {
	.recovery-form {
		padding: 170px 30px 0 90px;
	}
}

@media (max-width: 1100px) {
	.recovery-form {
		padding: 170px 15px 0 60px;
		&__title {
			font-size: 30px;
		}
	}
}

@media (max-width: 930px) {
	.recovery {
		background-size: cover;

		&__bg {
			display: none;
		}

		&-form {
			padding: 170px 0 60px;
			margin: 0 auto;

			&__wrap {
				margin: 0 auto;
				text-align: center;
			}

			&__title {
				color: #ffffff;
			}

			&__input {
				color: #fff;
				border-bottom: 1px solid rgba(255, 255, 255, 0.5);
				&::placeholder {
					color: #fff;
				}
			}

			&__help-acc {
				color: #fff;
				margin-bottom: 15px;
				letter-spacing: 1px;
				& a {
					color: #fff;
					transition: 0.3s ease;
					&:hover {
						color: rgba(255, 255, 255, 0.5);
					}
				}
			}

			&__help-home {
				& svg {
					fill: #ffffff;
				}
				& a {
					color: #fff;
					transition: 0.3s ease;
				}
				&:hover {
					& svg {
						fill: rgba(255, 255, 255, 0.5);
					}
					& a {
						color: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
	}
}

@media (max-width: 475px) {
	.recovery-form {
		padding: 130px 10px 70px;

		&__title {
			font-size: 20px;
			margin-bottom: 40px;
		}

		&__help,
		&__help-acc {
			font-size: 14px;
			letter-spacing: normal;
		}
	}
}

@media (max-width: 375px) {
	.recovery-form {
		&__help,
		&__help-acc {
			font-size: 13px;
		}
	}
}

@media (max-width: 325px) {
	.recovery-form {
		&__help,
		&__help-acc {
			font-size: 12px;
		}
	}
}
