.setting {
	padding: 45px 0 20px;
	&__wrap {
		width: 100%;
		max-width: 1295px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
}

.setting-ava {
	width: 100%;
	max-width: 385px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
	border-radius: 10px;
	padding: 30px 5px 5px;
	margin: 0 5px 0 10px;

	&__person {
		text-align: center;
		width: 100%;
		&-img {
			width: 100%;
			max-width: 245px;
			margin: 0 auto;
			& img {
				width: 100%;
				object-fit: cover;
				border-radius: 50%;
				margin-bottom: 30px;
			}
		}
	}

	&__login {
		margin-bottom: 8px;
	}
	&__name {
		margin-bottom: 8px;
	}
	&__email {
		margin-bottom: 15px;
	}
	&__rang {
		width: 100%;
		max-width: 340px;
		height: 60px;
		border: 2px solid #d03ba6;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 17px 0;
		margin-bottom: 16px;
		& p {
			position: relative;
			&::before,
			&::after {
				position: absolute;
				content: "";
				width: 35px;
				height: 1px;
				top: 50%;
				background: linear-gradient(#d03ba6 0%, #831fb1 100%);
			}
			&::before {
				left: -40px;
			}
			&::after {
				right: -40px;
			}
		}
	}

	&__btn {
		width: 100%;
		max-width: 315px;
		height: 140px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		& p {
			font-size: 14px;
			color: $gray;
		}
	}
}

.setting-room {
	width: 100%;
	max-width: 900px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
	border-radius: 10px;
	padding: 25px 15px 15px 15px;
	margin: 0 10px 0 5px;
	&__title {
		margin: 0 auto;
		& h1 {
			font-size: 30px;
			color: $gray-text;
			text-align: center;
			margin-bottom: 15px;
		}
	}
	&__pass,
	&__pay {
		width: 100%;
		max-width: 855px;
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
		border-radius: 10px;
		margin: 0 auto;
		padding: 15px 15px 15px 35px;

		& h3 {
			font-size: 20px;
			color: $dark;
			margin: 0 0 10px 5px;
		}
	}

	&__pass {
		margin-bottom: 25px;

		&-row {
			display: flex;
			margin-bottom: 25px;
		}
		&-item {
			width: 100%;
			max-width: 270px;
			margin: 0 5px;
			& p {
				font-size: 16px;
				color: $gray-text;
				margin-bottom: 3px;
			}
			& input {
				width: 100%;
				max-width: 250px;
				height: 45px;
				background-color: transparent;
				color: $dark;
				border: 1px solid $gray-border;
				margin-bottom: 5px;
				padding-left: 20px;
			}
			& a {
				font-size: 16px;
				color: $blue-text;
				text-decoration: underline;
			}
		}
	}

	&__pay {
		&-row {
			display: flex;
			margin-bottom: 15px;
		}

		&-item {
			width: 100%;
			max-width: 270px;
			margin: 0 5px;
			& p {
				font-size: 16px;
				color: $gray-text;
				margin-bottom: 3px;
			}
			& input {
				width: 100%;
				max-width: 250px;
				height: 45px;
				background-color: transparent;
				color: $dark;
				border: 1px solid $gray-border;
				padding-left: 20px;
			}
		}
	}
}

// * MEDIA ====================================================
@media (max-width: 1370px) {
	.setting {
		&-ava {
			width: 100%;
			max-width: 360px;
			padding: 35px 15px 50px;
			&__person-img {
				max-width: 200px;
			}
		}

		&-room {
			&__pass-item,
			&__pay-item {
				& p {
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 1095px) {
	.setting {
		&-ava {
			max-width: 300px;
			padding: 35px 15px 50px;
			&__person-img {
				max-width: 200px;
			}
			&__rang {
				& p {
					&::before,
					&::after {
						display: none;
					}
				}
			}
		}

		&-room {
			&__pass,
			&__pay {
				& h3 {
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 1010px) {
	.setting {
		&-ava {
			max-width: 250px;
		}
	}
}

@media (max-width: 965px) {
	.setting {
		&-room {
			&__pass-row,
			&__pay-row {
				flex-wrap: wrap;
				justify-content: center;
			}
			&__pass-item {
				margin-bottom: 15px;
				& input {
					max-width: 270px;
					margin: 0;
				}
				& a {
					font-size: 14px;
				}
			}
			&__pay-item {
				& input {
					max-width: 270px;
					margin-bottom: 15px;
				}
			}
		}
	}
}

@media (max-width: 667px) {
	.setting {
		&__wrap {
			flex-wrap: wrap;
			justify-content: center;
			padding: 0 10px;
		}
		&-ava {
			max-width: 667px;
			margin-bottom: 20px;
		}
		&-room__pay,
		&-room__pass {
			padding: 15px 15px 25px;
		}
	}
}

@media (max-width: 485px) {
	.setting {
		&-room {
			&__title {
				& h1 {
					font-size: 24px;
				}
			}
		}
	}
}
