.setting {
	padding: 35px 0 0 0;
	&__wrap {
		width: 100%;
		max-width: 1295px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
}

.setting-ava {
	width: 100%;
	max-width: 385px;
	height: 680px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
	border-radius: 10px;
	padding-top: 35px;

	&__person {
		text-align: center;
	}
	& img {
		display: block;
		width: 245px;
		height: 245px;
		border-radius: 50%;
		margin-bottom: 30px;
	}
	&__login {
		margin-bottom: 8px;
	}
	&__email {
		margin-bottom: 15px;
	}
	&__rang {
		width: 100%;
		max-width: 340px;
		height: 60px;
		border: 2px solid #d03ba6;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 17px 0;
		margin-bottom: 16px;
		& p {
			position: relative;
			&::before,
			&::after {
				position: absolute;
				content: "";
				width: 35px;
				height: 1px;
				top: 50%;
				background: linear-gradient(#d03ba6 0%, #831fb1 100%);
			}
			&::before {
				left: -40px;
			}
			&::after {
				right: -40px;
			}
		}
	}

	&__btn {
		width: 315px;
		height: 140px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		& p {
			font-size: 14px;
			color: $gray;
		}
	}
}

.setting-room {
	width: 100%;
	max-width: 900px;
	height: 680px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
	border-radius: 10px;
	padding: 25px 15px 15px 15px;
	&__title {
		margin: 0 auto;
		& h1 {
			font-size: 30px;
			color: $gray-text;
			text-align: center;
			margin-bottom: 15px;
		}
	}
	&__pass,
	&__pay {
		width: 100%;
		width: 855px;
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(124, 124, 206, 0.27);
		border-radius: 10px;
		margin: 0 auto;
		padding: 15px 15px 15px 35px;
		& h3 {
			font-size: 20px;
			color: $dark;
			margin-bottom: 10px;
		}
	}

	&__pass {
		height: 250px;
		margin-bottom: 25px;
		&-row {
			display: flex;
			margin-bottom: 25px;
		}
		&-item {
			width: 270px;
			& p {
				font-size: 16px;
				color: $gray-text;
				margin-bottom: 3px;
			}
			& input {
				width: 250px;
				height: 45px;
				background-color: transparent;
				color: $dark;
				border: 1px solid $gray-border;
				margin-bottom: 5px;
			}
			& a {
				font-size: 16px;
				color: $blue-text;
				text-decoration: underline;
			}
		}
	}

	&__pay {
		height: 295px;

		&-row {
			display: flex;
			margin-bottom: 15px;
		}

		&-item {
			width: 270px;
			& p {
				font-size: 16px;
				color: $gray-text;
				margin-bottom: 3px;
			}
			& input {
				width: 250px;
				height: 45px;
				background-color: transparent;
				color: $dark;
				border: 1px solid $gray-border;
			}
		}
	}
}
