.tarifs {
	padding-top: 50px;
	min-height: 100%;
	background-image: url("../img/tarifs_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		position: relative;
		width: 460px;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 0.04em;
		color: #ffffff;
		margin: 0 auto 35px;
		&::before,
		&::after {
			position: absolute;
			content: "";
			display: inline-block;
			width: 68px;
			height: 1px;
			top: 60%;
			background: #c236a8;
		}
		&::before {
			left: -90px;
		}
		&::after {
			right: -90px;
		}
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__cards-items {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	&__cards-item {
		width: 100%;
		max-width: 290px;
		min-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
	}

	&__cards-header {
		width: 100%;
	}

	&__cards-round {
		width: 100%;
		max-width: 205px;
		margin: 0 auto 25px;
		& img {
			display: block;
			width: 100%;
		}
	}

	&__cards-range {
		width: 100%;
	}

	&__cards-warning {
		& p {
			position: relative;
			font-size: 14px;
			line-height: 1.2;
			color: #959fff;
			&::before {
				position: absolute;
				display: block;
				content: "";
				width: 7px;
				height: 20px;
				top: 6px;
				left: -16px;
				background-image: url("../img/danger.png");
			}
		}
	}
	&__cards-btn {
		margin-top: 10px;
	}
}

.cards-range__list-title {
	position: relative;
	color: #ffffff;

	&::before {
		position: absolute;
		content: "";
		display: inline-block;
		width: 10px;
		height: 12px;
		top: 7px;
		left: -18px;
		background-image: url("../img/plus.svg");
	}
}

.cards-range__list-rate {
	display: flex;
	justify-content: center;
	margin: 5px 0;
}
.list-rate {
	display: block;
	width: 17px;
	height: 6px;
	background-color: #ffffff;
	margin: 0 3px;
}

// * MEDIA ========================================

@media (max-width: 1367px) {
	.tarifs {
		padding-top: 40px;
	}
}

@media (max-width: 1200px) {
	.tarifs {
		&__cards {
			&-warning {
				& p {
					font-size: 12px;
				}
			}
		}
	}
	.cards-range {
		&__list {
			&-title {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.tarifs {
		padding-bottom: 15px;
		&__cards {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&__cards-item {
			max-width: 255px;
			margin-bottom: 50px;
		}
		&__cards-range,
		&__cards-warning {
			margin-left: 15px;
		}
	}
}

@media (max-width: 668px) {
	.tarifs {
		&__title {
			width: 280px;
			margin: 25px auto 35px;
			& h1 {
				font-size: 30px;
			}
		}
	}
}

@media (max-width: 635px) {
	.tarifs {
		&__cards-items {
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 565px) {
	.tarifs {
		&__title {
			&::before,
			&::after {
				display: none;
			}
		}
	}
}
